.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
}

.container h3 {
    margin: 1vw;
    cursor: pointer;
}

.linkContainer {
    display: flex;
}

.linkContainer a {
    margin: 1vw;
}

.image {
    align-self: center;
    margin-right: 5vw;
}

.counter {
    position: absolute;
    top: -1%;
    background-color: #FF3B30;
    border-radius: 50%;
    width: 1.8vw;
    height: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-left: 1vw;
}